form{
  max-width: 500px;
	margin: 10px auto;
	padding: 16px;
	background: #F7F7F7;
  box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.78);
}

h2{
  background: #208f8f;
	padding: 20px 0;
	font-size: 140%;
	text-align: center;
	color: #fff;
	margin: -16px -16px 16px -16px;
  box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.78);
  font-size:inherit;
  color:#fff;
}

input{
  width: 100%;
  padding:5px 0;
}
